
.header{
    background: #000000 !important;
}
.page-header .breadcrumb li.breadcrumb-item.active {
    color: #F68700;
    font-weight: 600;
}
.header .header-body .header-body-left .header-search-form .form-control:focus{
    background-color: #bac7c0 !important;
}
.header .header-body .header-body-left .header-search-form .form-control, .header .header-body .header-body-left .header-search-form .swal-modal input.swal-content__input, .swal-modal .header .header-body .header-body-left .header-search-form input.swal-content__input {
    background-color: #bac7c0;
    border-radius: 100px;
    padding-left: 45px;
    border: none;
    color: white;
}

#info ul li p{
    margin-bottom: 1px !important;
}
a {
    /*color: #2dad3b;*/
    color: #74C422;
    text-decoration: none;
    transition: color 0.2s;
}
a:hover {
    color: #F68700;
    text-decoration: none;
}
.app-block .app-sidebar .app-sidebar-menu .list-group .list-group-item.active {
    background: none;
    color: #f58434;
    /*color: #ff0d0d;*/
}
.app-block .app-sidebar .app-sidebar-menu .list-group .list-group-item {
    background: none;
    color: #5d5d5d;
}
#group-tb tbody tr td{
    font-size: 13px !important;
}

#group-side tbody tr td{
    font-size: 12px !important;
}
table.dataTable.table-sm>thead>tr>th {
    font-weight: 800 !important;
}
/*.btn.btn-primary, a.btn[href="#next"], a.btn[href="#previous"] {*/
/*    background: #74C422 !important;*/
/*    border-color: #00ff13 !important;*/
/*    cursor: pointer;*/
/*}*/

div .mem-info p{
    margin-bottom: -5px !important;
    font-size: 13px;
    color: #796f6f;;
}

#the-card .icon-block.icon-block-xl {
    width: 30px;
    height: 30px;
    line-height: 70px;
    font-size: 13px;
}

#the-card .card .card-body {
    padding: 10px;
}

#the-card .card .card-body h6.card-title{
    margin-bottom: 13px;
}

#the-card .font-size-35 {
    font-size: 26px !important;
}
.app-block .app-content .app-content-body {
    padding: 5px !important;
}

.preloader {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 1001;
    background-color: #ecedf4;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* Safari */
}

.preloader .preloader-icon {
    border: 5px solid #eeeeee;
    border-radius: 50%;
    border-top: 5px solid #74C422;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 0.8s linear infinite;
    animation: spin 0.8s linear infinite;
}
.page-link {
    color: #74C422;
}
.pagination .page-item.active .page-link {
    background: #74C422;
    border-color: transparent;
}
.bottom-link .page-item.active .page-link {
    background: #f58434 !important;
    border-color: transparent;
    color: white !important;
}
.bottom-link .page-item .page-link {
    color: #f58434 !important;
    border-color: transparent;
}
.nav-pills .nav-link.active {
    background: #f58434 !important;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: #f58434 !important;
}
.card-url{
    color: white;
}
.card-url:hover{
    color: #d4d2d2;
}
.header .header-left {
    background-color: #000000;
}
body.horizontal-navigation .navigation .navigation-menu-body > ul > li > a {
    padding: 0 10px !important;
}

#nprogress .bar {
    background: #3cd514 !important;
}

a.disabled {
    /* Make the disabled links grayish*/
    color: gray;
    /* And disable the pointer events */
    pointer-events: none;
}
.dropdown-menu .dropdown-item:hover, .dropdown-menu .dropdown-item:focus, .dropdown-menu .dropdown-item:active {
    background: #f5f5f5;
    text-decoration: none;
    color: #F68700;
}
body.horizontal-navigation .navigation .navigation-menu-body .active {
    color: #F68700 !important;
}
